
::ng-deep .mat-radio-label-content {
    
    padding-left: 6px !important;
    padding-right: 19px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    display: flex !important;
}


.mat-form-field{
    width: 100%;
}